<?xml version="1.0" encoding="UTF-8"?>
<configuration Scan="Time" ScanPeriod="5 minutes">
	
	<property name="LOG_DIR" value="c:\development\git\RequestForQuoteWebService" />
 
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss}[%-5level]:%msg%n</Pattern>      
		</layout>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_DIR}\logs\Pricing.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss}[%-5level]:%msg%n</Pattern>
		</layout>
	</appender>

	<appender name="DAO_LOG_FILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_DIR}\logs\dao.log</file>      
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">    
			<Pattern>%d{HH:mm:ss.SSS} %-5level %thread %logger - %msg%n</Pattern>    
		</encoder>
	</appender>
	
	<appender name="CHAT_LOG_FILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_DIR}\logs\chat.log</file>      
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">    
			<Pattern>%d{HH:mm:ss.SSS} %-5level %thread  %logger - %msg%n</Pattern>    
		</encoder>
	</appender>
	
	   	<appender name="COMM_LOG_FILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_DIR}\logs\communication.log</file>      
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">    
			<Pattern>%d{HH:mm:ss.SSS} %-5level %thread  %logger - %msg%n</Pattern>    
		</encoder>
	</appender> 
	     
	<logger name="com.leon.ws.rfq.option.model" level="TRACE"/>
	
	<logger name="com.leon.ws.rfq.database.GenericDatabaseCommandExecutorImpl" level="TRACE">
		<appender-ref ref="DAO_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.ws.rfq.chat.ChatMediatorImpl" level="TRACE">
		<appender-ref ref="CHAT_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.ws.rfq.chat.ChatMessageImpl" level="TRACE">
		<appender-ref ref="CHAT_LOG_FILE" />           
	</logger>	
	
	<logger name="com.leon.ws.rfq.communicator.ClientCommunicatorImpl" level="TRACE">
		<appender-ref ref="COMM_LOG_FILE" />           
	</logger>		
   
	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
	
</configuration>