<?xml version="1.0" encoding="UTF-8"?>
<configuration Scan="Time" ScanPeriod="5 minutes">
	
	<property name="LOG_DIR" value="c:\development\git\RequestForQuoteWebService" />
 
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss}[%-5level]:%msg%n</Pattern>      
		</layout>
	</appender>

	<appender name="WEB_SERVICE_LOG_FILE" class="ch.qos.logback.core.FileAppender">
		<file>c:\development\git\RequestForQuoteWebService\logs\web_service.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss}[%-5level]:%msg%n</Pattern>
		</layout>
	</appender>

	<appender name="DAO_LOG_FILE" class="ch.qos.logback.core.FileAppender">
		<file>c:\development\git\RequestForQuoteWebService\logs\dao.log</file>      
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">    
			<Pattern>%d{HH:mm:ss.SSS} %-5level %thread %logger - %msg%n</Pattern>    
		</encoder>
	</appender>
	
	<appender name="CHAT_LOG_FILE" class="ch.qos.logback.core.FileAppender">
		<file>c:\development\git\RequestForQuoteWebService\logs\chat.log</file>      
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">    
			<Pattern>%d{HH:mm:ss.SSS} %-5level %thread  %logger - %msg%n</Pattern>    
		</encoder>
	</appender>
	
	<appender name="COMM_LOG_FILE" class="ch.qos.logback.core.FileAppender">
		<file>c:\development\git\RequestForQuoteWebService\logs\communication.log</file>      
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">    
			<Pattern>%d{HH:mm:ss.SSS} %-5level %thread  %logger - %msg%n</Pattern>    
		</encoder>
	</appender>
	
	 <appender name="CONTROLLERS_LOG_FILE" class="ch.qos.logback.core.FileAppender">
		<file>c:\development\git\RequestForQuoteWebService\logs\controllers.log</file>      
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">    
			<Pattern>%d{HH:mm:ss.SSS} %-5level %thread  %logger - %msg%n</Pattern>    
		</encoder>
	</appender>
	
	<appender name="EVENTS_LOG_FILE" class="ch.qos.logback.core.FileAppender">
		<file>c:\development\git\RequestForQuoteWebService\logs\events.log</file>      
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">    
			<Pattern>%d{HH:mm:ss.SSS} %-5level %thread  %logger - %msg%n</Pattern>    
		</encoder>
	</appender>
	
	 <appender name="SIMULATION_LOG_FILE" class="ch.qos.logback.core.FileAppender">
		<file>c:\development\git\RequestForQuoteWebService\logs\simulation.log</file>      
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">    
			<Pattern>%d{HH:mm:ss.SSS} %-5level %thread  %logger - %msg%n</Pattern>    
		</encoder>
	</appender>
	     
	<logger name="com.leon.ws.rfq.database.GenericDatabaseCommandExecutorImpl" level="TRACE">
		<appender-ref ref="DAO_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.ws.rfq.request.RequestManagerDaoImpl" level="TRACE">
		<appender-ref ref="DAO_LOG_FILE" />           
	</logger>	
	
	<logger name="com.leon.ws.rfq.chat.ChatMediatorImpl" level="TRACE">
		<appender-ref ref="CHAT_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.ws.rfq.chat.ChatMessageImpl" level="TRACE">
		<appender-ref ref="CHAT_LOG_FILE" />           
	</logger>	
	
	<logger name="com.leon.ws.rfq.communicator.ClientCommunicatorImpl" level="TRACE">
		<appender-ref ref="COMM_LOG_FILE" />           
	</logger>		

	<logger name="com.leon.ws.rfq.request.RequestControllerImpl" level="TRACE">
		<appender-ref ref="CONTROLLERS_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.ws.rfq.search.SearchControllerImpl" level="TRACE">
		<appender-ref ref="CONTROLLERS_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.ws.rfq.holiday.HolidayControllerImpl" level="TRACE">
		<appender-ref ref="CONTROLLERS_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.ws.rfq.client.ClientControllerImpl" level="TRACE">
		<appender-ref ref="CONTROLLERS_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.ws.rfq.book.BookControllerImpl" level="TRACE">
		<appender-ref ref="CONTROLLERS_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.ws.rfq.underlying.UnderlyingControllerImpl" level="TRACE">
		<appender-ref ref="CONTROLLERS_LOG_FILE" />           
	</logger>	
	
	<logger name="com.leon.ws.rfq.reporting.ReportingControllerImpl" level="TRACE">
		<appender-ref ref="CONTROLLERS_LOG_FILE" />           
	</logger>	
	
	<logger name="com.leon.ws.rfq.chat.ChatMediatorImpl" level="TRACE">
		<appender-ref ref="CONTROLLERS_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.ws.rfq.option.model.OptionPricingControllerImpl" level="TRACE">
		<appender-ref ref="CONTROLLERS_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.ws.rfq.utilities" level="TRACE">
		<appender-ref ref="CONTROLLERS_LOG_FILE" />           
	</logger>	
	
	<logger name="org.apache.cxf.service.invoker.AbstractInvoker" level="DEBUG">
		<appender-ref ref="WEB_SERVICE_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.ws.rfq.events" level="DEBUG">
		<appender-ref ref="EVENTS_LOG_FILE" />           
	</logger>
	
	<logger name="com.leon.ws.rfq.simulation" level="DEBUG">
		<appender-ref ref="SIMULATION_LOG_FILE" />
	</logger>	
   
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
	
</configuration>